{
    "extends": [
        "airbnb-base"
    ],
    "env": {
        "mocha": true
    },
    "rules": {
        "class-methods-use-this": 0,
        "no-underscore-dangle": 0,
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2,
        "no-await-in-loop": 0,
        "no-plusplus": 0
    },
    "plugins": [
        "chai-friendly"
    ]
}
